# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [18]:
import numpy as np

2. Create a null vector of size 10

In [19]:
x = np.zeros(10).astype(np.int32)
x

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

3. Create a vector with values ranging from 10 to 49

In [20]:
y = np.arange(10,49)
y

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48])

4. Find the shape of previous array in question 3

In [21]:
np.shape(y)

(39,)

5. Print the type of the previous array in question 3

In [22]:
print(type(y))

<class 'numpy.ndarray'>

6. Print the numpy version and the configuration

In [23]:
print(np.version)

<module 'numpy.version' from 'C:\\Users\\Munee\\anaconda3\\lib\\site-packages\\numpy\\version.py'>

7. Print the dimension of the array in question 3

In [24]:
np.ndim(y)

1

8. Create a boolean array with all the True values

In [25]:
boll = np.array(range(1,10),dtype="bool")
boll

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

9. Create a two dimensional array

In [26]:
array2d = np.array(range(20))
array2d = array2d.reshape(4,5)
array2d

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

10. Create a three dimensional array

In [27]:
array3d = np.array(range(40))
array3d = array3d.reshape(2,4,5)
array3d

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [33]:
print("original Vector\n",y)

print("\noriginal Vector in reverse order\n",y[::-1])

original Vector
 [10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48]

original Vector in reverse order
 [48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25
 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10]

12. Create a null vector of size 10 but the fifth value which is 1

In [37]:
nullv= np.zeros(10).astype(np.int32)
nullv[4]=1
nullv

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

13. Create a 3x3 identity matrix

In [27]:
identity = np.eye(3).astype(np.int32)
identity

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [28]:
arr = np.array([1,2,3,4,5]).astype(np.float64)
arr

array([1., 2., 3., 4., 5.])

15. arr1 = np.array([[1., 2., 3.], [4., 5., 6.]])  arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])

---


Multiply arr1 with arr2

In [17]:
arr1 = np.array([[1., 2., 3.], [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])
arr1 * arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.], [4., 5., 6.]]) arr2 = np.array([[0., 4., 1.], [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [40]:
arra1 = np.array([[1., 2., 3.], [4., 5., 6.]])
arra2 = np.array([[0., 4., 1.], [7., 2., 12.]])
compare = np.greater(arra1,arra2)
print(compare)

[[ True False  True]
 [False  True False]]

17. Extract all odd numbers from arr with values(0-9)

In [45]:
arr = np.arange(9)
filtered_array = filter(lambda val: val % 2 == 0, arr)
list(filtered_array)

[0, 2, 4, 6, 8]

18. Replace all odd numbers to -1 from previous array

In [47]:
arr[arr % 2 == 1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [49]:
arr = np.arange(10)
arr[5:9]=12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [50]:
ones = np.ones((5,5)).astype(np.int32)
ones
ones[1:4,1:4]=0
ones

array([[1, 1, 1, 1, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 0, 0, 0, 1],
       [1, 1, 1, 1, 1]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

---

Replace the value 5 to 12

In [51]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2d[1][1]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [52]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0,0:2,0:3]=64
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [53]:
arr2ds = np.array(range(10)).reshape(2,5)
arr2ds[0,0:6]

array([0, 1, 2, 3, 4])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [61]:
arr2ds = np.arange(9).reshape(3,3)
arr2ds[1,1]

4

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [66]:
arr2ds = np.arange(9).reshape(3,3)
arr2ds[0:2,2]

array([2, 5])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [95]:
randm = np.random.randn(10,10)
print(randm)
randm_max = np.max(randm)
print("Maximun Value : " , randm_max)
randm_min = np.min(randm)
print("Minimun Value : " ,randm_min)

[[ 0.21245972 -1.25655022 -0.87883419  0.19839139  0.65148923 -0.58745743
  -2.11967993  1.89962514  0.46860905  0.16804007]
 [ 0.51774218  1.55732713 -1.23430488  1.18013194 -1.35161412  0.25072892
   0.73002489  0.80337855  2.09809685  1.12140732]
 [-0.30728567 -0.75297257  0.30811572  0.45270477 -0.37628226  0.21557199
  -0.35232551  0.03867056 -1.44843219  0.10861499]
 [-1.19119039 -0.07920081  0.7025014  -0.02650772 -2.34352252 -1.1081678
   0.45153894 -0.40564933  0.21968855 -0.48733108]
 [-1.02953722  0.33125253  1.16731798  0.60853136 -0.19182489 -0.25569968
   1.91096018 -0.50727349 -0.69145701 -0.09334215]
 [ 0.77351663 -0.43601333 -0.86834003  0.60404546 -0.04389149  0.7836811
  -0.67686601  0.46591791  0.28413323  0.54912853]
 [-0.24781683 -1.08883734 -0.39096504 -0.64019248  0.05774365  0.12004681
  -0.57324339  0.77798903 -1.03400489 -1.8211361 ]
 [-0.51809833  1.16213376  1.24111347  2.13546974  0.16966355  0.44503733
  -0.48486541 -0.39178498 -1.18201394 -0.6131203 ]
 [ 0.47148779 -0.09207284  0.04834594  0.04410274  0.38301786  0.83329612
  -0.222958   -1.28041396  0.70121053  1.77900779]
 [-1.24690287  0.21998933  1.60608739  0.92402123 -0.40740596  1.31250073
   0.42121078 -0.32944364  0.2238323  -1.33313505]]
Maximun Value :  2.1354697427126967
Minimun Value :  -2.3435225207036625

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [72]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.intersect1d(a,b))

[2 4]

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [92]:
print(np.where(a==b))

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [94]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
data

array([[-1.65347019, -0.0884316 ,  1.84606116,  2.54329417],
       [ 0.38690296, -0.38722045,  1.54436085,  0.19584469],
       [-1.70042993,  1.06482269, -0.04615527,  0.29738539],
       [-0.664522  , -0.54762524, -0.67026064, -0.11398757],
       [ 0.10930499,  0.3451094 , -2.45462158,  0.4340475 ],
       [-0.06856643, -1.00083151, -0.86424866,  1.20461606],
       [-1.41336752,  1.62950866,  0.32679702, -0.09465357]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [106]:
arr = np.random.uniform(low=1.0, high=15.0, size=(5,3))
arr

array([[ 8.06097478, 11.09795861,  2.28457978],
       [10.49851266,  9.96667   ,  6.95191651],
       [ 5.47148027, 12.65446677,  3.21404182],
       [14.46655051,  8.17081414,  9.98492573],
       [ 8.26456301,  6.23363788,  3.67286525]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [109]:
arr = np.random.uniform(low=1.0, high=16.0, size=(2,2,4))
arr

array([[[15.48107518,  3.73254569, 12.79202076,  3.19110487],
        [15.59257211, 13.89119179, 13.32827859,  5.05307505]],

       [[ 2.20511519,  5.59910499,  7.71585567,  2.55247153],
        [ 7.38518158,  6.58922246,  3.75241577,  9.21156271]]])

33. Swap axes of the array you created in Question 32

In [110]:
np.swapaxes(arr, 0, 1)
arr

array([[[15.48107518,  3.73254569, 12.79202076,  3.19110487],
        [15.59257211, 13.89119179, 13.32827859,  5.05307505]],

       [[ 2.20511519,  5.59910499,  7.71585567,  2.55247153],
        [ 7.38518158,  6.58922246,  3.75241577,  9.21156271]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [145]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [146]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
val = np.intersect1d(a, b)

a = filter(lambda x: x if x not in val else None, a)
np.asarray(list(a))

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [147]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]]) 
sampleArray[:, 1] = 10
sampleArray

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [148]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])

np.dot(x, y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [155]:
randum = np.random.randn(20).reshape(4,5)
print(randum)
np.cumsum(randum)

[[-0.22975036 -0.51784825  1.33691883 -0.64286478 -0.27585947]
 [-1.46420437  0.7380982  -1.26107168 -0.8388453   0.37820791]
 [ 0.01532281  1.14704897 -0.01495216  0.02556588 -1.23118338]
 [ 0.97398468 -0.10359213 -0.6245638   0.31294219 -0.32330006]]

array([-0.22975036, -0.74759862,  0.58932021, -0.05354457, -0.32940405,
       -1.79360842, -1.05551022, -2.3165819 , -3.15542721, -2.7772193 ,
       -2.76189649, -1.61484752, -1.62979969, -1.60423381, -2.83541719,
       -1.8614325 , -1.96502464, -2.58958844, -2.27664625, -2.5999463 ])